/* Contenedor principal */
.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #183d7b; /* Fondo claro */
}

/* Contenedor del Dashboard */
.dashboard-container {
    display: flex;
    height: 100vh; /* Ocupa toda la pantalla */
    justify-content: center; /* Centrar el contenido */
    align-items: center;
}

/* Contenedor del contenido (donde va la info del dashboard) */
.content-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Caja blanca con la información */
.content-box {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 40px;
    width: 70%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Títulos */
.content-box h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

/* Párrafos */
.content-box p {
    font-size: 16px;
    color: #666;
    margin: 0;
    padding: 0;
}